.vesp-input-password {
  display: flex;
  align-items: center;

  .btn {
    margin-left: $btn-padding-x * -2.5;
    padding: 0;
    opacity: 0.5;

    &:focus,
    &:active {
      box-shadow: none;
    }
  }

  .form-control {
    &:not(:disabled),
    &:not(:read-only) {
      + .btn {
        &:hover {
          opacity: 1;
        }
      }
    }

    &[type="text"] + .btn {
      opacity: 1;
    }
  }
}
