.vesp-combo {
  position: relative;

  &-list {
    width: 100%;
    max-height: 50vh;
    overflow-x: auto;

    .alert {
      border: none;
      border-radius: $dropdown-border-radius;
    }
  }
}
