.vesp-table {
  .b-table {
    th, td {
      vertical-align: middle;
    }

    td.actions {
      white-space: nowrap;
      text-align: right;

      .btn {
        svg {
          width: 1rem;
        }

        &:not(:first-child) {
          margin-left: 0.25rem;
        }
      }
    }
  }
}
