.vesp-table {
  .b-table {
    th {
      vertical-align: middle;
      white-space: nowrap;
    }

    td {
      vertical-align: middle;

      &.actions {
        white-space: nowrap;
        text-align: right;

        .btn {
          svg {
            width: 1rem;
          }

          &:not(:first-child) {
            margin-left: 0.25rem;
          }
        }
      }
    }
  }
}
