.vesp-combo {
  position: relative;

  &-list {
    z-index: 10;
    position: absolute;
    width: 100%;
    list-style: none;
    background-color: $dropdown-bg;
    padding: 0;
    box-shadow: $dropdown-box-shadow;
    border-radius: 0 0 $border-radius $border-radius;

    &:not(.show) {
      display: none;
    }

    .alert {
      border: none;
      border-radius: 0 0 $border-radius $border-radius;
    }

    &-item {
      padding: 0.75rem;
      cursor: pointer;
      color: $dropdown-link-color;

      &.selected,
      &:hover {
        background-color: rgba($dropdown-link-hover-bg, 0.7);
        color: $dropdown-link-hover-color;
      }

      &:last-child {
        border-radius: 0 0 $border-radius $border-radius;
      }
    }
  }
}
